<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layouts/base :: layout(~{::section})">

<section>
    <h2>Driver Customers</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>Name</th>
                <th>Phone</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.phone}"></td>
            </tr>
        </tbody>
    </table>
</section>
</html>